# Security: prevent author enumeration
RewriteCond %{REQUEST_URI}  ^/$
RewriteCond %{QUERY_STRING} author=.*
RewriteRule ^(.*)$ /? [L,R=301]

# Custom Site Redirect
# Redirect 302 /physics/hsaha http://physics.cos.ucf.edu/hsaha

# Force SSL Site List
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTPS} !=on
## COSIT
RewriteRule ^(it/.*)$ https://sciences.ucf.edu/$1 [R=301,L]
</IfModule>

# Disable XML-RPC 
<files xmlrpc.php>
	<IfModule mod_authz_core.c>
		Require all denied
	</IfModule>
	<IfModule !mod_authz_core.c>
		Order allow,deny
		Deny from all
	</IfModule>
</files>

# Disable Directory Browsing
Options -Indexes

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]

# uploaded files
RewriteRule ^(.+)?/files/(.+) wp-includes/ms-files.php?file=$2 [L]

# add a trailing slash to /wp-admin
RewriteRule ^(.+)?/wp-admin$ $1/wp-admin/ [R=301,L]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]
RewriteRule ^(.+)?/(wp-(content|admin|includes).*) /$2 [L]

RewriteRule ^(.+)?/(.*\.php)$ $2 [L]
RewriteRule . index.php [L]

</IfModule>
# END WordPress