# Security: prevent author enumeration
RewriteCond %{REQUEST_URI}  ^/$
RewriteCond %{QUERY_STRING} author=.*
RewriteRule ^(.*)$ /? [L,R=301]

###################################
# Redirect Old COS Domain
RewriteCond %{HTTP_HOST} ^www\.cos\.ucf\.edu$ [NC]
RewriteRule ^(.*)$ https://sciences.ucf.edu/$1 [R=301,L]

# UCF Restores
Redirect 302 /restores http://sciences.ucf.edu/psychology/ucf-restores/
Redirect 302 /RESTORES http://sciences.ucf.edu/psychology/ucf-restores/
# Promes
Redirect 301 /psychology/promes http://www.promes-icc.com/
Redirect 301 /psychology/awmlab /psychology/amlab
# Pascencio & jenkins
Redirect 301 /biology/jenkins /biology/d4lab
Redirect 301 /biology/pascencio /biology/d4lab

###################################
# Redirect Old Department Domains
# Anthropology
RewriteCond %{HTTP_HOST} ^anthropology\.cos\.ucf\.edu$ [NC]
RewriteRule ^(.*)$ https://sciences.ucf.edu/anthropology/$1 [R=301,L]

# Biology
RewriteCond %{HTTP_HOST} ^biology\.cos\.ucf\.edu$ [NC]
RewriteRule ^(.*)$ https://sciences.ucf.edu/biology/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^bgsa\.cos\.ucf\.edu$ [NC]
RewriteRule ^(.*)$ https://sciences.ucf.edu/biology/bgsa/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^bohlen\.cos\.ucf\.edu$ [NC]
RewriteRule ^(.*)$ https://sciences.ucf.edu/biology/bohlen/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^bugcloset\.cos\.ucf\.edu$ [NC]
RewriteRule ^(.*)$ https://sciences.ucf.edu/biology/bugcloset/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^fedorka\.cos\.ucf\.edu$ [NC]
RewriteRule ^(.*)$ https://sciences.ucf.edu/biology/fedorka/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^games\.cos\.ucf\.edu$ [NC]
RewriteRule ^(.*)$ https://sciences.ucf.edu/biology/games/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^jenkins\.cos\.ucf\.edu$ [NC]
RewriteRule ^(.*)$ https://sciences.ucf.edu/biology/d4lab/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^king\.cos\.ucf\.edu$ [NC]
RewriteRule ^(.*)$ https://sciences.ucf.edu/biology/king/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^noss\.cos\.ucf\.edu$ [NC]
RewriteRule ^(.*)$ https://sciences.ucf.edu/biology/noss/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^pascencio\.cos\.ucf\.edu$ [NC]
RewriteRule ^(.*)$ https://sciences.ucf.edu/biology/d4lab/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^parkinson\.cos\.ucf\.edu$ [NC]
RewriteRule ^(.*)$ https://sciences.ucf.edu/biology/parkinson/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^vonkalm\.cos\.ucf\.edu$ [NC]
RewriteRule ^(.*)$ https://sciences.ucf.edu/biology/vonkalm/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^worthy\.cos\.ucf\.edu$ [NC]
RewriteRule ^(.*)$ https://sciences.ucf.edu/biology/worthy/PEBL [R=301,L]

RewriteCond %{HTTP_HOST} ^understandingchildren\.cos\.ucf\.edu$ [NC]
RewriteRule ^(.*)$ https://sciences.ucf.edu/psychology/understandingchildren/$1 [R=301,L]

# Chemistry
RewriteCond %{HTTP_HOST} ^chemistry\.cos\.ucf\.edu$ [NC]
RewriteCond %{REQUEST_URI} !^/nmr/Schedule/Web.*$
RewriteCond %{REQUEST_URI} !^/nmr/Schedule/Web/.*$
RewriteRule ^(.*)$ https://sciences.ucf.edu/chemistry/$1 [R=301,L]

# Communication
RewriteCond %{HTTP_HOST} ^communication\.cos\.ucf\.edu$ [NC]
RewriteRule ^(.*)$ https://sciences.ucf.edu/communication/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^tv\.cos\.ucf\.edu$ [NC]
RewriteRule ^(.*)$ https://sciences.ucf.edu/communication/tv/$1 [R=301,L]

# Math
RewriteCond %{HTTP_HOST} ^math\.cos\.ucf\.edu$ [NC]
RewriteRule ^(.*)$ https://sciences.ucf.edu/math/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^mall\.cos\.ucf\.edu$ [NC]
RewriteRule ^(.*)$ https://sciences.ucf.edu/math/mall/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^mikusinski\.cos\.ucf\.edu$ [NC]
RewriteRule ^(.*)$ https://sciences.ucf.edu/math/mikusinski/$1 [R=301,L]

RewriteRule ^math/~mathlab(.*)$ http://sciences.ucf.edu/math/mathlab$1 [R=301,NC,L]

# Physics
RewriteCond %{HTTP_HOST} ^physics\.cos\.ucf\.edu$ [NC]
RewriteRule ^(.*)$ https://sciences.ucf.edu/physics/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^kara\.cos\.ucf\.edu$ [NC]
RewriteRule ^(.*)$ http://sciences.ucf.edu/physics/kara/$1 [L,R=301] 

RewriteCond %{HTTP_HOST} ^microgravity\.physics\.cos\.ucf\.edu$ [NC]
RewriteRule ^(.*)$ http://sciences.ucf.edu/physics/microgravity/$1 [L,R=301] 

RewriteCond %{HTTP_HOST} ^microgravity\.physics\.ucf\.edu$ [NC]
RewriteRule ^(.*)$ http://sciences.ucf.edu/physics/microgravity/$1 [L,R=301] 

# Political Science
RewriteCond %{HTTP_HOST} ^politicalscience\.cos\.ucf\.edu$ [NC]
RewriteRule ^(.*)$ http://sciences.ucf.edu/politicalscience/$1 [R=301,L]

# Psychology
RewriteCond %{HTTP_HOST} ^psychology\.cos\.ucf\.edu
RewriteCond %{REQUEST_URI} ^/snap
RewriteRule ^(.*) http://computationalpsychology.org/ [L,R=301] 

RewriteCond %{HTTP_HOST} ^psychology\.cos\.ucf\.edu
RewriteCond %{REQUEST_URI} ^/bendsawyer
RewriteRule ^(.*) http://bendsawyer.com/ [L,R=301]

RewriteCond %{HTTP_HOST} ^psychology\.cos\.ucf\.edu
RewriteCond %{REQUEST_URI} ^/bohil
RewriteRule ^(.*) https://sites.google.com/site/categorizationdecisionlab/ [L,R=301] 

RewriteCond %{HTTP_HOST} ^mmlab\.cos\.ucf\.edu$ [NC]
RewriteRule ^(.*)$ http://sciences.ucf.edu/psychology/mmlab/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^vonholle\.cos\.ucf\.edu$ [NC]
RewriteRule ^(.*)$ http://sciences.ucf.edu/psychology/mmlab/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^psychology\.cos\.ucf\.edu$ [NC]
RewriteRule ^(.*)$ http://sciences.ucf.edu/psychology/$1 [R=301,L]

# Sociology
RewriteCond %{HTTP_HOST} ^sociology\.cos\.ucf\.edu$ [NC]
RewriteRule ^(.*)$ http://sciences.ucf.edu/sociology/$1 [R=301,L]

# Statistics
RewriteCond %{HTTP_HOST} ^statistics\.cos\.ucf\.edu$ [NC]
RewriteRule ^(.*)$ http://sciences.ucf.edu/statistics/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^dms\.cos\.ucf\.edu$ [NC]
RewriteRule ^(.*)$ http://sciences.ucf.edu/statistics/dms/$1 [R=301,L]
RewriteCond %{HTTP_HOST} ^dms\.stat\.ucf\.edu$ [NC]
RewriteRule ^(.*)$ http://sciences.ucf.edu/statistics/dms/$1 [R=301,L]
###################################

###################################
# Redirect Other Domains
# High School Science
RewriteCond %{HTTP_HOST} ^highschoolscience\.cos\.ucf\.edu$ [NC]
RewriteRule ^(.*)$ http://highschoolscience.ucf.edu/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^mit\.cos\.ucf\.edu$ [NC]
RewriteRule ^(.*)$ https://mit.ucf.edu/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^news\.cos\.ucf\.edu$ [NC]
RewriteRule ^(.*)$ http://sciences.ucf.edu/news/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^peterhancock\.cos\.ucf\.edu$ [NC]
RewriteRule ^(.*)$ http://peterhancock.ucf.edu/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^coastal\.ucf\.edu$ [NC]
RewriteRule ^(.*)$ https://sciences.ucf.edu/coastal-center/$1 [R=301,L]
###################################

# Force SSL on Sites
RewriteCond %{HTTP_HOST} ^sciences\.ucf\.edu
RewriteCond %{REQUEST_URI} ^/it
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteRule ^(.*)$ https://sciences.ucf.edu/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^sciences\.ucf\.edu
RewriteCond %{REQUEST_URI} ^/biology/crampton
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteRule ^(.*)$ https://sciences.ucf.edu/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^sciences\.ucf\.edu
RewriteCond %{REQUEST_URI} ^/biology/sotero
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteRule ^(.*)$ https://sciences.ucf.edu/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^sciences\.ucf\.edu
RewriteCond %{REQUEST_URI} ^/psychology/spiop
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteRule ^(.*)$ https://sciences.ucf.edu/$1 [R=301,L]

#RewriteCond %{HTTPS} off
#RewriteRule ^ucf-coastal-booklet.*$ https://sciences.ucf.edu/ucf-coastal-booklet$1 [L,R=301]

# Disable XML-RPC 
<files xmlrpc.php>
	<IfModule mod_authz_core.c>
		Require all denied
	</IfModule>
	<IfModule !mod_authz_core.c>
		Order allow,deny
		Deny from all
	</IfModule>
</files>

# Disable Directory Browsing
Options -Indexes

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]

# uploaded files
RewriteRule ^(.+)?/files/(.+) wp-includes/ms-files.php?file=$2 [L]

# add a trailing slash to /wp-admin
RewriteRule ^(.+)?/wp-admin$ $1/wp-admin/ [R=301,L]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]
RewriteRule ^(.+)?/(wp-(content|admin|includes)/.*) /$2 [L]

RewriteRule ^(.+)?/(.*\.php)$ $2 [L]
RewriteRule . index.php [L]

</IfModule>
# END WordPress
